@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@source "../../resources/views/front/*.blade.php";

@theme {
  --font-roboto: "Roboto Condensed", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;

  --primary-color : #fa6f43;
  --loader: #fb6b46;
  --btn1: #fc604b;
  --main-bg: oklch(0.97 0.0352 61.56);
  --border-line: rgb(245, 81, 30);
  --input-bg: #f1e3e0;
  --second-white: #F8F8FF;
  --danger: oklch(0.59 0.2908 18.64);
  --hover: #fc5f50;
}


  .title-color{
    @apply text-[var(--primary-color)];
  }

  .user-nav{
    @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white;
  }